.first > img {
   width: 350px;
   height: 220px;
   padding: 15px 10px 20px 10px;
   margin: 30px;
   border: dashed 2px red;
   background-color: green;
}

.clearfix {
    width: 600px;
}

.clearfix:after { 
    content: ""; 
    display: block; 
    clear: both; 
}

.left{
    float: left;
    margin: 0 15px 12px 0;
}

.right { 
    float: right;
    margin: 15px 0px 11px 15px;

}

p {
    text-align: justify;
}