div {
  width: 700px;
  height: 600px;
  background-color: #0d5825;
  position: relative;
  left: 350px;
}


p {
  color: white;
  padding: 0px;
  margin: 30px 0 0 0;
  position: absolute;
  font-size: 25px;
  right: 20%;
}

cite {
  position: absolute;
  top: 60px;
font-size: 25px;
color: white;
padding: 0px;
right: 37%;
}
img{
  position: absolute;
}

img:hover{
transform:translateY(-20px);
}

.card1{
  bottom: 10%;
  right: 35%;
  transform: rotate(6deg);
  z-index: 3;
}

.card2{
  bottom: 13%;
  right: 43%;
  transform: rotate(-10deg);
  z-index: 2;
}

.card3{
  bottom: 14%;
  right: 50%;
  transform: rotate(-23deg);
}