

 div { 
    min-height: 100vh;
    min-width: 100vh;
    background-image: url("https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png"),
    url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg"),
    url("https://www.freeiconspng.com/uploads/lamp-png-0.png"),
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/Ёжик.png/revision/latest?cb=20180209130328&path-prefix=ru"),
    url("https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png");/* Путь к фоновому рисунку */
    background-position: bottom, center, top, left, right; /* Положение фона */
    background-repeat: repeat-x, no-repeat, repeat-x, repeat-y, repeat-y; /* Повторяем фон по горизонтали */
    background-size: 18% 18%, 800px 470px, 60px 60px, 60px 60px, 60px 60px;
    background-color: green;
   }

   * {
      margin: 0;
      padding: 0;
     }