blockquote {
    color:green
     }

    a[href^="https"]{
        color:red
    }
    .list > li:last-child{
        background-color: green;
    }

    .holder > p:nth-child(3){
        font-size: 26px;
    }

    .text-box > h3:first-child {
        color:pink
    }

    p[id] {
        color:grey
    }

    .text-box :nth-child(5){
        color:red;
    }

    .text-box :nth-last-child(2){
        color:green;
    }

    .text-box >p:last-child{
        color:yellow
    }